body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.linkit {
	padding: 10px, 0px;
	width: 100%
	text-align: center;
}

.linkit a{
	color: #333;
	text-decoration: none;
}

.header {
	border-bottom: 1px solid #eee;
	padding: 10px, 0px;
	width: 100%
	text-align: center;
}

.header a{
	color: #333;
	text-decoration: none;
}